
<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100" alt="Sunset Over the City"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>AirFly</h5>
          <p class="uno">La mejor aerolinea para viajar y conocer nuevos lugares</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="Canyon at Nigh"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>AirFly</h5>
          <p class="uno">La mejor aerolinea para viajar y conocer nuevos lugares</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>AirFly</h5>
          <p class="uno">La mejor aerolinea para viajar y conocer nuevos lugares</p>
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->


<div class="container ms-4 ">
    <div class="row">
            <div class="form-group col-sm-3 mt-5">
                
                <h3 class="">Misión</h3>
                <div class="ms-3"><img width="70%" height="25%"  src="./assets/img/mision.png"></div>
                
                <br>
                <p>Conectar America latina con diferentes partes del mundo de una forma segura, logrando esto a través de revisiones,
                capacitación y educación continuas a nuestro personal. Implementar estándares y prácticas de la industria 
                establecidos internacionalmente..
                </p>
                
            </div>
            <div class="form-group col-sm-3 mt-5 ">
                
                <h3>Visión</h3>
                <div class="ms-3"><img width="70%" height="25%" src="./assets/img/vision.png"></div>
                <br>
                <p>Seremos la aerolínea preferida de nuestra región, cumpliendo consistentemente nuestra promesa de valor, 
                compartiendo un excelente ambiente de trabajo y obteniendo los mejores resultados de la industria.
                </p>
                
            </div>
            <div class="form-group col-sm-3 mt-5">
                
                <h3>Razón Social</h3>
                <br>
                <div class="ms-3"> <img width="70%" height="25%" src="./assets/img/razon.jpg"></div>
                <br>
                <p>En AirFly, ofrecemos un promedio de cerca de 6,700 vuelos diarios a 350 destinos en 50 países.
                Nos caracterizamos por contar con aviones de ultima tecnologia y con un personal de calidad par entregar el mejor servicio
                </p>
                
            </div>    
            <div class="form-group col-1 mt-2 mb-2"><hr></div>
            <div class="form-group col-2 mt-2 mb-2"><app-aside></app-aside></div> 
               
    </div> 

</div>
