<div class="container ms-4 ">
    <div class="row">
        <script src="https://www.youtube.com/iframe_api"></script>
            <div class="form-group col-sm-9 mt-5">
                
                <h3 class="">Video de testimonio</h3>
                <youtube-player
                [videoId]="videoId" 
                suggestedQuality="hd720" 
                [startSeconds]="109"
                [endSeconds]="149"> 
                </youtube-player>

            <h5>Airbus A380, comodidad y lujo</h5>
            <ul>
                <li>Largo: 73m</li>
                <li>Extensión de ala a ala: 79,8m</li>
                <li>Altura: 24,1m</li>
                <li>Capacidad típica: 555</li>
                <li>Capacidad máxima (clase turista): 840</li>
                <li>Motores: 4</li>
            </ul>
                                
            </div>
               
            <div class="form-group col-1 mt-2 mb-2"><hr></div>
            <div class="form-group col-2 mt-2 mb-2"><app-aside></app-aside></div> 
               
    </div> 

</div>
