<div class="container ms-4 ">
    <div class="row">
            <div class="cont form-group col-sm-9 mt-5">
                
                <h3 class="">Historia de AirFly</h3>
                <br>
                <h5>Sólidos durante 10 años</h5>
                
                <p>El 27 de Noviembre de 2012, Andrei Daza piloteó el primer vuelo de AirFly
                 transportando correo de Colombia entre Bogota, Cali y Medellin. Después
                 de 4 años realizando rutas de correo, la aerolínea empezó a convertirse en lo que es hoy en día. 
                 Andrei daza, el fundador de AirFly, trabajó junto con Su socio para Iniciar vuelos comerciales, en un avión 
                 que presto gran servicio a los clientes, transformando la fuente de ingresos, de correo a pasajeros
                </p>

                <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="accordion accordion-flush mb-3" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#flush-collapseOne"
                          aria-expanded="false"
                          aria-controls="flush-collapseOne"
                        >
                          2012-2016
                        </button>
                      </h2>
                      <div
                        id="flush-collapseOne"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne"
                        data-mdb-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          Durante este tiempo la areolinea fue adquiriendo experincia, convirtiendose en la mejor aerolinea de
                          transporte de correo y fue premiada por su entrega y servicio a nivel nacional, resaltando las
                          entregas a tiemp de sus paquetes.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#flush-collapseTwo"
                          aria-expanded="false"
                          aria-controls="flush-collapseTwo"
                        >
                          2017-2020
                        </button>
                      </h2>
                      <div
                        id="flush-collapseTwo"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwo"
                        data-mdb-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          Ya con la experiencia y un buen servicio, AirFly se encamina en el trasporte de pasajeros
                          a nivel nacional, Posicionandose entre las primeras aerolineas, ganandose la confianza de los usuarios
                          y mejorando la seguridad de la aerolinea.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#flush-collapseThree"
                          aria-expanded="false"
                          aria-controls="flush-collapseThree"
                        >
                          2021-actualidad
                        </button>
                      </h2>
                      <div
                        id="flush-collapseThree"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree"
                        data-mdb-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          AirFly empieza a expandirse e inicia con los viajes internacionales, permitiendo conectar Sur America
                          con el resto del mundo.
                        </div>
                      </div>
                    </div>
                  </div>
            </div> 
            <div class="form-group col-1 mt-2 mb-2"><hr></div>
            <div class="form-group col-2 mt-2 mb-2"><app-aside></app-aside></div> 
               
    </div> 

</div>

